###############################
###### REQUIRED ENV VARS ######
###############################
NEXT_PUBLIC_APP_NAME=Hoonnotes
NEXT_PUBLIC_APP_DOMAIN=localhost:3000
NEXT_PUBLIC_APP_SHORT_DOMAIN=hoonnotes.com

# Postgres Database via Drizzle
DATABASE_URL=postgresql://admin:admin@localhost:5432/db_name

# Generate a random secret here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=your_random_secret
NEXTAUTH_URL=http://localhost:3000 # (only needed for localhost)

# Used for Google Login
# Learn how to set this up here: https://next-auth.js.org/providers/google
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Used for GitHub Login
# Learn how to set this up here: https://next-auth.js.org/providers/github
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
