###############################
###### REQUIRED ENV VARS ######
###############################
NEXT_PUBLIC_APP_NAME=Hoonnotes
NEXT_PUBLIC_APP_DOMAIN=localhost:3000
NEXT_PUBLIC_APP_SHORT_DOMAIN=hoonnotes.com

# Postgres Database via Drizzle
DATABASE_URL=postgresql://admin:admin@localhost:5432/hoonnotes_dev

# Generate a random secret here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=9a36a848d532419fdb69af8ff7281b0d
NEXTAUTH_URL=http://localhost:3000 # (only needed for localhost)
